<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

In [ ]:
Name : - Vora Yagnik Rajeshbhai
Enrollment No :- 23010101661

### 01) WAP to print “Hello World”

In [1]:
print("Hello world")

Hello world

### 02) WAP to print your address i) using single print ii) using multiple print

In [2]:
print("Shapar main road,Shapar Village, Rajkot")

Shapar main road,Shapar Village, Rajkot

In [3]:
print("Shapar main road,")
print("Shapar village,")
print("Rajkot")

Shapar main road,
Shapar village,
Rajkot

### 03) WAP to print addition of 2 numbers (without input function)

In [4]:
a = 10
b = 20

print((a+b))

30

### 04) WAP to calculate and print average of 2 numbers (without input function)

In [5]:
a = 10
b = 20

print((a+b)/2)

15.0

### 05) WAP to add two number entered by user.

In [6]:
a = int(input("Enter number 1:"))
b = int(input("Enter number 2:"))

print(a+b)

Enter number 1: 12
Enter number 2: 23

35

### 06) WAP to calculate simple interest.

In [7]:
p = float(input("Enter Amount : "))
r = float(input("Enter Rate : "))
n = float(input("Enter Duration : "))

print("Interest = ",((p*r*n)/100))

Enter Amount :  20000
Enter Rate :  10
Enter Duration :  1

Interest =  2000.0

### 07) WAP Calculate Area and Circumfrence of Circle

In [8]:
r = float(input("Enter Redius :"))

print("Area = ",3.14*r*r)
print("Circumfrence",2*3.14*r)

Enter Redius : 8

Area =  200.96
Circumfrence 50.24

### 08) WAP to print Multiplication table of given number without using loops.

In [9]:
a = int(input("Enter Number : "))

print(a , "X 1 = " , (a*1))
print(a , "X 2 = " , (a*2))
print(a , "X 3 = " , (a*3))
print(a , "X 4 = " , (a*4))
print(a , "X 5 = " , (a*5))
print(a , "X 6 = " , (a*6))
print(a , "X 7 = " , (a*7))
print(a , "X 8 = " , (a*8))
print(a , "X 9 = " , (a*9))
print(a , "X 10 = " , (a*10))

Enter Number :  17

17 X 1 =  17
17 X 2 =  34
17 X 3 =  51
17 X 4 =  68
17 X 5 =  85
17 X 6 =  102
17 X 7 =  119
17 X 8 =  136
17 X 9 =  153
17 X 10 =  170

### 09) WAP to calculate Area of Triangle (hint: a = h * b * 0.5)

In [11]:
h = float(input("Enter Height : "))
b = float(input("Enter Base : "))

print("Area is : ",(h*b*0.5))

Enter Height :  4
Enter Base :  6

Area is :  12.0

### 10) WAP to convert degree to Fahrenheit and vice versa.

In [13]:
d = float(input("Enter degree : "))

print("Fehrenheit : ",(d*9/5)+32)

f = float(input("Enter Fehrenheit : "))

print("Fehrenheit : ",((f-32)*5/9))

Enter degree :  76

Fehrenheit :  168.8

Enter Fehrenheit :  168.8

Fehrenheit :  76.0

### 11) WAP to calculate total marks and Percentage.

In [14]:
m1 = float(input("Enter mark-1 : "))
m2 = float(input("Enter mark-2 : "))
m3 = float(input("Enter mark-3 : "))
m4 = float(input("Enter mark-4 : "))

print("Total marks : ",(m1+m2+m3+m4),"\nPercentage : ",(m1+m2+m3+m4)/4)

Enter mark-1 :  80
Enter mark-2 :  98
Enter mark-3 :  76
Enter mark-4 :  89

Total marks :  343.0
Percentage :  85.75

### 12) Compute distance between two points taking input from the user (Pythagorean Theorem).

In [16]:
x1 = float(input("Enter x1 : "))
x2 = float(input("Enter x2 : "))

y1 = float(input("Enter y1 : "))
y2 = float(input("Enter y2 : "))

print("Distance from (",x1,",",x2,") to (",y1,",",y2,") : ",((x1-x2)**2+(y1-y2)**2)**0.5)

Enter x1 :  8
Enter x2 :  5
Enter y1 :  2
Enter y2 :  0

Distance from ( 8.0 , 5.0 ) to ( 2.0 , 0.0 ) :  3.605551275463989

### 13) WAP to convert seconds into hours, minutes & seconds and print in HH:MM:SS
[e.g. 10000 seconds mean 2:46:40 (2 Hours, 46 Minutes, 40Seconds)]

In [31]:
s = int(input("Enter seconds : "))

m = (int)(s/60)%60
h = (int)((s/60)/60)
s = s%60
print(h," Hours, ",m," Minutes, ",s," Seconds")

Enter seconds :  10000

2  Hours,  46  Minutes,  40  Seconds

### 14) WAP to enter distance into kilometer and convert it into meter, feet,inches, and centimeter

In [32]:
k = float(input("Enter Kilometer : "))

print("Meter : ", k*1000)
print("Feet : ", k*3280.84)
print("Inches : ", k*39370.1)
print("Centimeter : ", k*100000)

Enter Kilometer :  5

Meter :  5000.0
Feet :  16404.2
Inches :  196850.5
Centimeter :  500000.0